@use "global" as *;

.access{
  position: relative;
}

.access::before {
  content: "";
  position: absolute;
  top: rem(-19.5);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/embellishment_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  @include mq(md) {
    top: rem(-64);
    left: calc(50% - min(rem(620),48%));
    width: rem(301);
    height: rem(138);
  }
}

.access__items{
  display: grid;
  gap: rem(40);
  grid-template-columns: 1fr;
  align-items: end;
  @include mq("md"){
    grid-template-columns: rem(550) 1fr;
  }
}

.access__table{
  width: 100%;
}

.access__map{
  aspect-ratio: 490 / 220;
}

.access__map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.access__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}