@use "global" as *;


.access__items{
  display: grid;
  gap: rem(40);
  grid-template-columns: 1fr;
  align-items: start;
  @include mq("md"){
    grid-template-columns: rem(550) 1fr;
  }
}

.access__table{
  width: 100%;
}

.access__map{
  aspect-ratio: 3 / 2;
}

.access__map iframe {
  max-width: 100%;
  max-height: 100%;
  border: 0;
}

.access__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}