@use "global" as *;

.blog {
  position: relative;
}

.blog::before {
  content: "";
  position: absolute;
  top: rem(-24);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/embellishment_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  @include mq(md) {
    top: rem(-70);
    left: calc(50% - min(rem(620),48%));
    width: rem(301);
    height: rem(138);
  }
}

.blog__inner{
  display: grid;
  gap: rem(80);
  grid-template-columns: repeat(1,1fr);
  @include mq("md") {
    align-items: start;
    grid-template-columns: 7fr 3fr;
  }
}

.blog__cards{
  position: relative;
  z-index: 1;
  display: grid;
  gap: rem(40);
}

.blog__pagination{
  margin-top: rem(80);
}

.blog__sidebar{
  padding: 0 rem(25);
  @include mq("md"){
    padding: 0;
  }
}