@use "global" as *;


.blog-single__inner{
  display: grid;
  gap: rem(80);
  grid-template-columns: repeat(1,1fr);
  @include mq("md") {
    align-items: start;
    grid-template-columns: 7fr 3fr;
  }
}

.blog-single__pagination{
  margin-top: rem(80);
}

.blog-single__sidebar{
  padding: 0 rem(25);
  @include mq("md"){
    padding: 0;
  }
}
