@use "global" as *;


.blog__inner{
  display: grid;
  gap: rem(80);
  grid-template-columns: repeat(1,1fr);
  @include mq("md") {
    align-items: start;
    grid-template-columns: 7fr 3fr;
  }
}

.blog__cards{
  position: relative;
  z-index: 1;
  display: grid;
  gap: rem(40);
}

.blog__pagination{
  margin-top: rem(80);
}

.blog__sidebar{
  padding: 0 rem(25);
  @include mq("md"){
    padding: 0;
  }
}