@use "global" as *;

.faq{
  position: relative;
}

.faq::before {
  content: "";
  position: absolute;
  top: rem(-19.5);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/embellishment_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  @include mq(md) {
    top: rem(-64);
    left: calc(50% - min(rem(620),48%));
    width: rem(301);
    height: rem(138);
  }
}

.faq__body{
  @include mq("md"){
    margin-inline: auto;
    max-width: rem(750);
  }
}

.faq__items{
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
}

.faq__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}