@use "global" as *;


.faq__body{
  @include mq("md"){
    margin-inline: auto;
    max-width: rem(750);
  }
}

.faq__items{
  display: grid;
  gap: rem(40);
  grid-template-columns: repeat(1, 1fr);
}

.faq__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}