
@use "global" as *;

.footer-layout{
  margin-top: rem(100);
  @include mq(md){
    margin-top: rem(160);
  }
}

.footer-layout--contact{
  margin-top: rem(145);
  @include mq("md"){
  margin-top: rem(132);
  }
}

.footer-layout--no-margin{
  margin-top: 0;
  @include mq("md"){
    margin-top: 0;
  }
}