@use "global" as *;

.home-concept{
  position: relative;
}

.home-concept::before{
  content: "";
  position: absolute;
  top: rem(-120);
  right: 0;
  width: 40%;
  aspect-ratio: 727 / 645;
  background: url(../images/common/shape_2.png) center center /contain no-repeat;
  @include mq("md"){
    top: rem(-160);
    right: 0;
    width: 20%;
  }
}

.home-concept::after{
  content: "";
  position: absolute;
  top: calc(-30 / 375 * 100vw);
  right: calc(80 / 375 * 100vw);
  width: rem(60);
  aspect-ratio: 125 / 130;
  background: $font-color;
  mask-image: url(../images/common/decor_8.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  @include mq("md"){
    top: calc(10 / 1440 * 100vw);
    right: calc(180 / 1440 * 100vw);
    width: rem(100);
  }
}

.home-concept__content{
  display: grid;
  gap: rem(60);
  grid-template-columns: 1fr;
  @include mq("md") {
    gap: 0;
    grid-template-columns: 25% 50% auto;
    align-items: center;
  }
}

.home-concept__image{
  width: max(rem(180),50%);
  aspect-ratio: 2 / 3;
  background-image: url(../images/common/about_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include mq("md"){
    max-width: rem(400);
    width: 100%;
  }
}

.home-concept__text{
  text-align: center;
  line-height: 2;
}

.home-concept__button{
  margin-top: rem(60);
  padding-bottom: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
    padding-bottom: 0;
  }
}