@use "global" as *;

.home-concept{
  line-height: 2;
  width: 100%;
  max-width: rem(400);
  aspect-ratio: 4 / 3;
  background-image: url(../images/common/about_1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-concept__text{
  text-align: center;
  padding-top: rem(80);
}

.home-concept__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}