@use "global" as *;

.lesson-guide__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}

.lesson-guide__gallery{
  margin-top: rem(100);
  @include mq("md"){
    margin-top: rem(150);
  }
}