@use "global" as *;

.mv{
  opacity: 0;
  animation: fadeIn 3s ease forwards;
  position: relative;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "image" "title";
  grid-template-rows: min-content 1fr;
  @include mq("md") {
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: "title image";
    grid-template-rows: auto;
  }
  @media (prefers-reduced-motion: reduce){
    opacity: 1;
    animation: none;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.is-loaded .mv{
  opacity: 1;
  animation: none;
}

.mv::after{
  content: "";
  position: absolute;
  top: calc(100vh - rem(100));
  left: 0;
  width: 50%;
  aspect-ratio: 360 / 280;
  background: url(../images/common/shape_1.png) center center /contain no-repeat;
  @include mq("md"){
    top: calc(100vh - rem(220));
    width: 30%;
  }
}

.mv__logo{
  position: absolute;
  top:rem(20);
  left: rem(15);
  max-width: rem(108);
  width: 100%;
  z-index: 100;
  @include mq(md) {
    top:rem(60);
    left: rem(40);
    max-width: rem(140);
  }
}

.mv__image{
  position: relative;
  align-self: start;
  justify-self: right;
  width: clamp(18.75rem, 9.947rem + 37.559vi, 43.75rem); //300px-700px
  aspect-ratio: 701 / 740;
}

.mv__image img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.mv__inner{
  display: grid;
  place-content: center;
  height: 100%;
  @include mq("md"){
    text-align: center;
  }
}

.mv__title{
  position: relative;
  display:grid;
  font-size: clamp(2rem, 1.648rem + 1.502vi, 3rem); //32px-48px
  font-family: $second-font-family;
  font-weight: $regular;
  line-height: 2.5;
  transform: translateY(-20%);
  @include mq("md"){
    line-height: 3;
    transform: none;
  }
}

.mv__title span{
  display: inline-block;
}

.mv__title span:last-child{
  position: relative;
  text-indent: clamp(4.375rem, 3.055rem + 5.634vi, 8.125rem);
}

.mv__title::before,
.mv__title::after,
.mv__title span:last-child::after {
  content: "";
  position: absolute;
  background: $font-color;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.mv__title::before {
  top: rem(-60);
  left: 0;
  width: rem(60);
  aspect-ratio: 144 / 164;
  mask-image: url(../images/common/decor_5.png);
  @include mq("md"){
    top: rem(20);
    width: rem(72);
  }
}

.mv__title::after {
  bottom: rem(-100);
  right: 0;
  width: rem(100);
  aspect-ratio: 250 / 256;
  mask-image: url(../images/common/decor_6.png);
  @include mq("md"){
    bottom: rem(-100);
    right: rem(-200);  
    width: rem(125);
  }
}

.mv__title span:last-child::after{
  top: rem(-20);
  right: 0;
  width: rem(180);
  aspect-ratio: 655 / 157;
  mask-image: url(../images/common/decor_7.png);
  @include mq("md"){
    top: rem(-10);
    right: rem(-68);
    width: rem(300);
  }
}