@use "global" as *;

.mv{
  position: relative;
  height: 100vh;
  height: 100svh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "image" "title";
  grid-template-rows: min-content 1fr;
  @include mq("md") {
    align-items: center;
    grid-template-columns: 50% 50%;
    grid-template-areas: "title image";
    grid-template-rows: auto;
  }
}

.mv__logo{
  position: absolute;
  top:rem(20);
  left: rem(15);
  max-width: rem(108);
  width: 100%;
  z-index: 100;
  @include mq(md) {
    top:rem(60);
    left: rem(40);
    max-width: rem(140);
  }
}

.mv__image{
  position: relative;
  align-self: start;
  justify-self: right;
  width: clamp(18.75rem, 9.947rem + 37.559vi, 43.75rem); //300px-700px
  aspect-ratio: 701 / 740;
}

.mv__image img{
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 2;
}

.mv__inner{
  display: grid;
  place-content: center;
  height: 100%;
  @include mq("md"){
    text-align: center;
  }
}

.mv__title{
  display:grid;
  font-size: clamp(2rem, 1.648rem + 1.502vi, 3rem); //32px-48px
  font-family: $second-font-family;
  font-weight: $regular;
  line-height: 2.5;
  transform: translateY(-20%);
  @include mq("md"){
    line-height: 3;
    transform: none;
  }
}

.mv__title span{
  display: inline-block;
}

.mv__title span:last-child{
  text-indent: clamp(4.375rem, 3.055rem + 5.634vi, 8.125rem);
}
