@use "global" as *;

.page-faq{
  position: relative;
}

.page-faq__body{
  @include mq("md"){
    margin: 0 auto;
    max-width: rem(750);
  }
}

.page-faq__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}

