@use "global" as *;

.page-policy {
  position: relative;
}

.page-policy::before {
  content: "";
  position: absolute;
  top: rem(-19.5);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/embellishment_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  @include mq(md) {
    top: rem(-64);
    left: calc(50% - min(rem(620),48%));
    width: rem(301);
    height: rem(138);
  }
}

.page-policy__body {
  @include mq("md"){
    margin: 0 auto;
    max-width: rem(850);
  }
}

