@use "global" as *;

.page-voice {
  position: relative;
}

.page-voice::before {
  content: "";
  position: absolute;
  top: rem(-24);
  left: rem(15);
  width: rem(120);
  height: rem(55);
  background-image: url(../images/common/embellishment_3.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 0;
  @include mq(md) {
    top: rem(-70);
    left: calc(50% - min(rem(620),48%));
    width: rem(301);
    height: rem(138);
  }
}

.page-voice__cards{
  margin-top: rem(40);
}

.page-voice__pagination{
  margin-top: rem(78);
  @include mq("md"){
    margin-top: rem(71);
  }
}