@use "global" as *;

.policy__body {
  @include mq("md"){
    margin-inline: auto;
    max-width: rem(850);
  }
}

.policy__button{
  margin-top: rem(60);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}