@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1080px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 15px;

////////////////////
// フォント設定
////////////////////

$base-font-family:"M PLUS Rounded 1c", sans-serif;
$second-font-family:"Zen Maru Gothic", sans-serif;

$en-font-family: "Gotu", serif;
$sans-font-family: "Noto Sans JP", serif;
$serif-font-family: "Noto Serif JP", serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$bold: 700;


////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$white: #fff;

$font-color:#5A3E2B;
$main-color:#F5EBDD;
$sub-color:#A89484;
$ac-color:#E8B4B8;


$bg-color:#DDF0F1;


body {
  font-family: $base-font-family;
  font-weight: $regular;
  color: $font-color;
  background: $main-color;
  letter-spacing: 0.05em;
}