@use "global" as *;

.archive-list {
  font-size: rem(20);
}

.archive-list__year-button {
  position: relative;
  padding: rem(6) rem(16);
  width: 100%;
  text-align: left;
  color: $font-color;
  background-image: url('../images/common/line-thin.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 0.1em;
}

.archive-list__year-button::after {
  content: '';
  position: absolute;
  top: 50%;
  right: rem(16);
  width: rem(10);
  height: rem(10);
  border-right: 0.08em solid;
  border-bottom: 0.08em solid;
  transform: translateY(-50%) rotate(45deg); 
  transition: transform 0.3s ease;
}

.archive-list__months{
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height 0.6s ease, opacity 0.4s ease 0.2s;
}

.archive-list__month{
  padding: rem(6) rem(32);
}

.archive-list__year.is-open .archive-list__year-button::after {
  transform: translateY(-50%) rotate(-135deg);
}