@use "global" as *;

.archive-list {
  font-size: rem(24);
  color: $ac-color;
}

.archive-list__year:not(:first-child) {
  margin-top: rem(8);
  @include mq("md"){
    margin-top: rem(6);
  }
}

.archive-list__year-button {
  position: relative;
  padding-left: 1.3em;
  color: $ac-color;
}

.archive-list__year-button::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 0;
  height: 0;
  border-left: 0.48em solid transparent;
  border-right: 0.48em solid transparent;
  border-top: 0.75em solid $ac-color;
  transition: transform 0.2s;
}

.archive-list__months {
  padding-left: 1.2em;
}

.archive-list__month {
  position: relative;
  padding-left: 1.2em;
}

.archive-list__month::before {
content: "";
  position: absolute;
  top: 0.4em;
  left: 0;
  width: 0;
  height: 0;
  border-top: 0.48em solid transparent;
  border-bottom: 0.48em solid transparent;
  border-left: 0.75em solid $ac-color;
  transition: transform 0.2s;
}

.archive-list__year:not(.is-open) .archive-list__year-button::before{
  transform: rotate(-90deg) translateY(rem(4));
}