@use "global" as *;

.blog-article__date {
  display: block;
  font-size: rem(14);
  line-height: 1;
}

.blog-article__title {
  margin-top: rem(8);
  padding-bottom: rem(6);
  font-size: rem(24);
  font-weight: $medium;
  border-bottom: 0.08em dotted;
  @include mq("md"){
    font-size: rem(32);
  }
}

.blog-article__content,
.blog-article__figure,
.blog-article__text,
.blog-article__text p,
.blog-article__text figure{
  margin-top: rem(24);
  line-height: 2;
  @include mq("md"){
    margin-top: rem(40);
  }
}

.blog-article__text h2{
  font-size: rem(20);
  @include mq("md"){
    font-size: rem(24);
  }
}

.blog-article__figure,
.blog-article__text figure{
  aspect-ratio: 345 / 230;
  border-radius: 1.5em;
  overflow: hidden;
  @include mq("md"){
    aspect-ratio: 700 / 460;
    border-radius: 2em;
  }
}

.blog-article__figure img,
.blog-article__text figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-article__text ol {
  list-style: decimal; 
  padding-left: 1.5em; 
}

.blog-article__text ul {
  list-style: disc; 
  padding-left: 1.5em;  
}