@use "global" as *;

.blog-card a{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: rem(16) rem(16) rem(24);
  background: $white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.blog-card__image {
  aspect-ratio: 301 / 201;
  overflow: hidden;
}

.blog-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.blog-card:hover .blog-card__image img {
  transform: scale(1.35);
}

.blog-card__body {
  margin-top: rem(17);
}

.blog-card__date {
  font-size: rem(12);
  font-family: $en-font-family;
}

.blog-card__title {
  position: relative;
  padding-bottom: rem(4);
  font-size: rem(16);
  font-weight: $medium;
}

.blog-card__title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.blog-card__text {
  margin-top: rem(16);
  font-size: rem(16);
  @include mq(md) {
    margin-top: rem(15);
  }
}

