@use "global" as *;

.blog-article__date {
  display: block;
  font-size: rem(14);
  line-height: 1;
}

.blog-article__title {
  margin-top: rem(8);
  padding-bottom: rem(6);
  font-size: rem(24);
  font-weight: $medium;
  border-bottom: 0.08em dotted;
  @include mq("md"){
    font-size: rem(32);
  }
}

.blog-article__content,
.blog-article__figure,
.blog-article__text,
.blog-article__text p,
.blog-article__text figure,
.blog-article__text ul{
  margin-top: rem(24);
  @include mq("md"){
    margin-top: rem(40);
  }
}

.blog-article__figure,
.blog-article__text figure{
  aspect-ratio: 345 / 231;
  @include mq("md"){
    aspect-ratio: 700 / 468;
  }
}

.blog-article__figure img,
.blog-article__text figure img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-article__text li {
  position: relative;
  padding-left: rem(27);
}

.blog-article__text li::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: rem(18);
  height: rem(18);
  background-image: url(../images/pages/blog_8.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.blog-article__text li:not(:first-child){
  margin-top: rem(4);
}
