@use "global" as *;

.blog {
  @include mq(md) {
    position: relative;
    padding-top: rem(95);
    background: linear-gradient(to bottom, transparent 60%, $white 60%),
      url(../images/common/blog-bg-pc.jpg);
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;
  }
  @media (min-width: 2390px) {
    background-size: cover;
  }
}

.blog::before {
  @include mq(md) {
    content: "";
    position: absolute;
    top: rem(24);
    left: calc(50% - min(rem(620),48%));
    width: rem(437);
    height: rem(201);
    background-image: url(../images/common/embellishment_2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.blog__header {
  text-align: center;
}

.blog__cards {
  margin-top: rem(28);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog__button {
  margin-top: rem(40);
  text-align: center;
  @include mq(md) {
    margin-top: rem(81);
  }
}
