@use "global" as *;

.breadcrumb {
  font-size: rem(14);
  color: #A89484;
}

.breadcrumb__list {
  display: flex;
}

.breadcrumb__item:not(:first-child),
.post,
.archive{
  position: relative;
  padding-left: rem(20);
}

.breadcrumb__item:not(:first-child)::before,
.post::before,
.archive::before{
  content: "";
  position: absolute;
  top: 0.5em;
  left: rem(7);
  width: 5.66px;
  height: 5.66px;
  border-right: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
  transform: rotate(-45deg);
}
