@use "global" as *;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  height: inherit;
  padding: rem(20) rem(40);
  font-size: rem(14);
  line-height: 1;
  color: $white;
  background: $ac-color;
  border-radius: 5em;
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s;
}

.button span {
  // 矢印の直線
  content: "";
  position: relative;
  width: 40px;
  height: 1px;
  border-radius: 9999px;
  background: currentColor;
}

.button span::before {
  // 矢印の斜線
  content: "";
  position: absolute;
  top: calc(50% - 2px);
  right: 0;
  width: 7px;
  height: 1px;
  border-radius: 9999px;
  transform: rotate(45deg);
  transform-origin: calc(100% - 2px) 50%;
  background: currentColor;
  margin-left: rem(8);
}

.button:hover {
  color: $ac-color;
  background: $white;
}
