@use "global" as *;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  height: inherit;
  padding: rem(20) rem(40);
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1;
  color: $white;
  background: linear-gradient(to top, rgba(255,255,255,0.15), transparent),$ac-color;
  border: 0.08em solid transparent;
  border-radius: 5em;  
  box-sizing: border-box;
  transition: color .3s ease, background-color .3s ease;
}

.button span{
  width: rem(40);
  height: 0.6em;
  border-bottom: 0.16em solid ;
  border-right: 0.16em solid ;
  transform: translateY(-50%) skew(45deg);
  transform-origin: center;
}

.button:hover{
  @include mq("md"){
    color: $ac-color;
    background: $white;
  }
}

.button--green{
  background: linear-gradient(to top, rgba(255,255,255,0.18), transparent),#A9BEA0;
  padding-left: rem(68);
}

.button--green::before {
  content: "";
  position: absolute;
  width: rem(20);
  aspect-ratio: 1;
  left: rem(40);
  top: 50%;
  transform: translateY(-50%);
  background: currentColor;
  mask-image: url(../images/common/mail.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.button--green:hover{
  @include mq("md"){
    color: #A9BEA0;
  }
}

.button--outline:hover{
  @include mq("md"){
    border: 0.08em solid $ac-color;
  }
}

.button--outline.button--green:hover{
  @include mq("md"){
    border: 0.08em solid #A9BEA0;
  }
}