@use "global" as *;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  height: inherit;
  padding: rem(20) rem(40);
  font-size: rem(14);
  font-weight: $medium;
  line-height: 1;
  color: $white;
  background: linear-gradient(to top, rgba(255,255,255,0.15), transparent),$ac-color;
  border: 0.08em solid transparent;
  border-radius: 5em;  
  box-sizing: border-box;
  transition: .3s;
}

.button span{
  width: rem(40);
  height: 0.6em;
  border-bottom: 0.16em solid ;
  border-right: 0.16em solid ;
  transform: translateY(-50%) skew(45deg);
  transform-origin: center;
}

.button:hover{
  @include mq("md"){
    color: $ac-color;
    background: $white;
  }
}

.button--green{
  background: linear-gradient(to top, rgba(255,255,255,0.18), transparent),#A9BEA0;
}

.button--green:hover{
  @include mq("md"){
    color: #A9BEA0;
  }
}

.button--outline:hover{
  @include mq("md"){
    border: 0.08em solid $ac-color;
  }
}

.button--outline.button--green:hover{
  @include mq("md"){
    border: 0.08em solid #A9BEA0;
  }
}