@use "global" as *;

.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: rem(16);
  height: inherit;
  padding: rem(20) rem(40);
  font-size: rem(14);
  line-height: 1;
  color: $white;
  background: $ac-color;
  border-radius: 5em;
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s;
}

.button span{
  width: rem(40);
  height: 0.6em;
  border-bottom: 0.08em solid ;
  border-right: 0.08em solid ;
  transform: translateY(-50%) skew(45deg);
  transform-origin: center;
}

.button:hover {
  color: $ac-color;
  background: $white;
}

.button--green{
  color: $font-color;
  background: #C6D8C3;
}

.button--green:hover{
  color: $font-color;
}
