@use "global" as *;

.campaign-card {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.campaign-card__image {
  position: relative;
}

.campaign-card__image::before {
  content: "";
  display: block;
  padding-top: calc(188 / 280 * 100%);
}

.campaign-card__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.campaign-card__body {
  padding: rem(16);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include mq(md) {
    padding-top: rem(24);
    padding-bottom: rem(30);
  }
}


.campaign-card__category {
  display: inline-block;
  align-self: flex-start;
  padding: rem(4) rem(11);
  font-size: rem(12);
  line-height: 1.7;
  color: $ac-color;
  border: 1px solid;
  @include mq(md) {
    padding: rem(6) rem(15);
  }
}

.campaign-card__title {
  position: relative;
  margin-top: rem(3);
  padding-bottom: rem(9);
  flex-grow: 1;
  font-size: rem(16);
  font-weight: $medium;
}

.campaign-card__title::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.campaign-card__note {
  margin-top: rem(10);
  text-align: center;
  font-size: rem(14);
  @include mq(md) {
    margin-top: rem(14);
    font-size: rem(16);
  }
}

.campaign-card__price {
  margin-top: rem(1);
  display: flex;
  gap: rem(16);
  align-items: flex-end;
  justify-content: center;
  font-family: "Lato", serif;
  font-weight: $bold;
  @include mq(md){
    margin-top: 0;
    padding-left: rem(19);
    gap: rem(25);
    justify-content: start;
  }
}


.campaign-card__selling {
  position: relative;
  padding-bottom: rem(4);
  font-size: rem(20);
  @include mq(md) {
    font-size: rem(24);
    padding-bottom: rem(7);
  }
}

.campaign-card__selling::after {
  content: "";
  position: absolute;
  left: 0;
  top: 33%;
  width: 103%;
  height: rem(3);
  background: #c94800;
  @include mq(md){
    top: 40%;
    width: 100%;
  }
}

.campaign-card__special {
  font-size: rem(32);
  color: $ac-color;
  transform: translateX(rem(1));
  @include mq(md) {
    font-size: rem(40);
  }
}

.campaign-card__text{
  display: none;
  @include mq("md"){
    display: block;
    margin-top: rem(24);
  }
}

.campaign-card__cta{
  display: none;
  @include mq("md"){
    display: block;
    margin-top: rem(32);
    text-align: center;
  }
}

.campaign-card__period{
  font-family: "Lato", serif;
  font-weight: $bold;
  color: $ac-color;
}

.campaign-card__lead{
  margin-top: rem(7);
  font-size: rem(14);
  color: $ac-color;
}

.campaign-card__button {
  margin-top: rem(16);
}

.campaign-card__image--page::before{
  @include mq("md"){
    padding-top: calc(347 / 520 * 100%);
  }
}

.campaign-card__body--page{
  @include mq(md) {
    padding:rem(24) rem(24) rem(40);
  }
}

.campaign-card__title--page{
  @include mq(md) {
    margin-top: 0;
    padding-bottom: rem(7);
    font-size: rem(24);
    font-weight: $medium;
    flex-grow: 0;
  }
}

.campaign-card__note--page{
  @include mq(md) {
    margin-top: rem(24);
  }
}

.campaign-card__price--page{
  @include mq(md) {
    padding-left: 0;
    justify-content: center;
    gap: rem(41);
    line-height: 1.4;
  }
}

.campaign-card__text--page{
  @include mq(md) {
    margin-top: rem(14);
    flex-grow: 1;
  }
}

.campaign-card__cta--page{
  @include mq(md) {
    margin-top: rem(30);
  }
}

.campaign-card__lead--page{
  @include mq(md) {
    margin-top: rem(3);
  }
}

.campaign-card__button--page{
  @include mq(md) {
    margin-top: rem(14);
  }
}

.campaign-card__image--side::before {
  padding-top: calc(188 / 294 * 100%);
}

.campaign-card__body--side {
  padding: rem(15) rem(24);
  @include mq("md"){
    padding: rem(16) rem(24);
  }
}

.campaign-card__title--side {
  margin-top: 0;
  text-align: center;
}

.campaign-card__note--side {
  @include mq("md"){
    margin-top: rem(10);
    font-size: rem(14);
  }
}

.campaign-card__price--side {
  @include mq("md"){
    gap: rem(16);
  }
}

.campaign-card__selling--side{
  @include mq("md"){
    font-size: rem(20);
  }
}

.campaign-card__special--side{
  @include mq("md"){
    font-size: rem(32);
  }
}
