@use "global" as *;

.category-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.85em 1.2em;
  font-size: rem(14);
  line-height: 1;
  color: #A89484;
  border: 0.08em solid;
  border-radius: 2em;
  transition: all 0.3s ease;
  z-index: 1;
}

.category-button.is-active{
  color: $white;
  background: #A89484;
}

.category-button:hover{
  color: rgba(#A89484, 0.6);
}

.category-button.is-active:hover{
  color: $white;
}