@use "global" as *;

.category-button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.85em 1.2em;
  font-size: rem(14);
  line-height: 1;
  color: $sub-color;
  border: 0.08em solid $sub-color;
  border-radius: 2em;
  transition: color .3s ease, background .3s ease;
  z-index: 1;
}

.category-button.is-active{
  color: $white;
  background: $sub-color;
}

.category-button:hover{
  @include mq("md"){
    color: rgba($sub-color, 0.6);
  }
}

.category-button.is-active:hover{
  @include mq("md"){
    color: $white;
  }
}