@use "global" as *;

.class-card{
  border: 0.08em solid $sub-color;
  border-radius: 1rem;
}

.class-card__title{
  padding: rem(8) rem(24);
  text-align: center;
  color: $white;
  background: $sub-color;
  border-radius: 1rem 1rem 0 0;
  @include mq("md"){
    font-size: rem(20);
  }
}

.class-card__body{
  padding: rem(16) rem(24);
}

.class-card__level,
.class-card__duration{
  margin-top: rem(8);
  display: grid;
  grid-template-columns: 5em 1fr;
  column-gap: 0.5em;
}