@use "global" as *;


.concept__text{
  margin-top: rem(30);
  line-height: 2;
  @include mq("md"){
    margin-top: rem(40);
  }
}

.concept__text:first-of-type{
  margin-top: rem(40);
  font-size: rem(18);
  font-weight: $medium;
  @include mq("md"){
    margin-top: rem(60);
    font-size: rem(20);
  }
}

.concept__text:last-of-type{
  padding-bottom: rem(60);
  @include mq("md"){
    padding-bottom: rem(100);
  }
}