@use "global" as *;

.concept {
  position: relative;
}

.concept::before,
.concept::after {
  @include mq(md) {
    content: "";
    position: absolute;
    background: $font-color;
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
  }
}

.concept::before {
  @include mq(md) {
    top: rem(200);
    left: calc(50% - min(rem(450),40%));
    width: rem(125);
    aspect-ratio: 125 / 130;
    mask-image: url(../images/common/decor_2.png);
  }
}

.concept::after {
  @include mq(md) {
    bottom: rem(-50);
    right: calc(50% - rem(350));
    width: rem(110);
    aspect-ratio: 110 / 100;
    mask-image: url(../images/common/decor_3.png);
    z-index: 2;
  }
}


.concept__text{
  margin-top: rem(30);
  line-height: 2;
  @include mq("md"){
    margin-top: rem(40);
  }
}

.concept__text:first-of-type{
  margin-top: rem(40);
  font-size: rem(18);
  font-weight: $medium;
  @include mq("md"){
    margin-top: rem(60);
    font-size: rem(20);
  }
}

.concept__text:last-of-type{
  padding-bottom: rem(60);
  @include mq("md"){
    padding-bottom: rem(100);
  }
}