@use "global" as *;

.footer {
  padding: rem(48) 0 rem(56);
  color: $white;
  background: $font-color;
  @include mq(md) {
    padding: rem(80) 0;
  }
}

.footer__inner{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: rem(30);
}

.footer__header {
  display: flex;
  align-items: flex-end;
  gap: rem(30);
}

.footer__logo {
  max-width: rem(200);
  width: 100%;
}

.footer__sns {
  max-width: rem(20);
  width: 100%;
}

.footer__sns a:hover{
  @include mq("md"){
    opacity: 0.7;
  }
}

.footer__copyright {
  margin-top: rem(26);
  text-align: center;
  white-space: nowrap;
  width: 100%;
  font-size: min(5vw, rem(12));
}
