@use "global" as *;

.form__row {
  position: relative;
  padding: rem(25) 0;
  display: grid;
  gap: rem(20);
  grid-template-columns: 1fr;
  border-bottom: 1px dotted $sub-color;
  @include mq("md") {
    padding: rem(40) 0;
    grid-template-columns: 1fr rem(480);
  }
}

.form__row:first-child {
  padding-top: 0;
}

.form__label {
  line-height: 1;
}

.form__label span{
  margin-left: rem(8);
  padding: rem(2) rem(11) rem(2) rem(16);
  font-size: rem(12);
  font-weight: $regular;
  letter-spacing: 0.4em;
  color: $white;
  background: #E08A94;
  border-radius: 0.5em;
}

.form__input{
  padding: rem(10) rem(15);
  width: 100%;
  height: rem(40);
  color: $font-color;
  background: $white;
  border: 0.08em solid $sub-color;
  border-radius: 0.5em;
}

.form__input--select{
  font-size: rem(12);
}

.form__input--textarea{
  height: auto;
}

.form__input::placeholder{
  color: #CFC1B9;
}

.form__input-wrapper{
  position: relative;
}

.form__input-wrapper::after{
  content: "";
  position: absolute;
  top: 50%;
  right: rem(12);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid $sub-color;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s;
  @include mq("md"){
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid $sub-color;
  }
  @include mq("lg"){
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 8px solid $sub-color;
  }
}

.form__radio {
  display: flex;
  flex-direction: column;
  gap: rem(3);
}

.form__radio label{
  display: flex;
  align-items: center;
  gap: rem(8);
}

.form__agreement{
  margin-top: rem(40);
  text-align: center;
  @include mq("md"){
    margin-top: rem(80);
  }
}

.form__agreement label{
  display: flex;
  align-items: flex-start;
  gap: rem(8);
  font-size: rem(14);
  @include mq("md"){
    gap: rem(16);
  }
}

.form__radio input[type="radio"],
.form__agreement input[type="checkbox"] {
  all: unset;
  position: relative;
  background: $white;
  border: 0.08em solid $sub-color;
  cursor: pointer;
}

.form__radio input[type="radio"]{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  @include mq("md"){
    width: 10px;
    height: 10px;
  }
  @include mq("lg"){
    width: 12px;
    height: 12px;
  }
}

.form__agreement input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border-radius: 6px;
  @include mq("md"){
    width: 16px;
    height: 16px;
    border-radius: 5px;
  }
  @include mq("lg"){
    width: 20px;
    height: 20px;
    border-radius: 6px;
  }
}

.form__radio input[type="radio"]:checked::after{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #E08A94;
  border-radius: 50%;
  @include mq("md"){
    width: 6px;
    height: 6px;
  }
  @include mq("lg"){
    width: 8px;
    height: 8px;
  }
}

.form__agreement input[type="checkbox"]:checked::after{
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  width:  rem(8);
  height: rem(16);
  border: solid #E08A94;
  border-width: 0 0.16em 0.16em 0;
  transform: translate(-50% ,-50%) rotate(55deg);
}

.form__agreement a{
  border-bottom: 0.08em solid ;
}

.form__participants{
  display: grid;
  grid-template-columns: 50% 50%;
}

.form__participant{
  display: flex;
  gap: rem(12);
}

.form__participant select{
  width: rem(90);
  @include mq("md"){
    width: rem(120);
  }
}

.form__button {
  margin-top: rem(24);
  text-align: center;
  @include mq("md"){
    margin-top: rem(39);
    padding-bottom: rem(28);
  }
}

.form__button .button{
  gap: rem(18);
  padding: rem(20) rem(55);
}

.form__row--error .form__input{
  border: 0.08em solid #E08A94;
  background: rgba(#E08A94, 0.2);
}

.form__row--error .form__input::placeholder {
  color: $white;
}

.form__row--error select,
.form__row--error .form__radio input[type="radio"],
.form__agreement--error input[type="checkbox"] {
  border: 0.08em solid #E08A94;
  background: rgba(#E08A94, 0.2);
}

.form__input.wpcf7-form-control:-webkit-autofill,
textarea{
  color: $font-color;
  -webkit-text-fill-color: $font-color;
}

.form__input.wpcf7-form-control:-webkit-autofill{
  // transition: background-color 5000s ease-in-out 0s;
}

.form__input--select:focus-visible,
.form__radio input:focus-visible,
.form__agreement input:focus-visible,
.button:focus-visible{
  outline: 2px solid #1a73e8;
  outline-offset: 2px;
}
