@use "global" as *;

.form__row {
  position: relative;
  padding: rem(25) 0;
  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(1, 1fr);
  border-bottom: 1px dotted $ac-color;
  @include mq("md") {
    padding: rem(40) 0;
    grid-template-columns: 1fr rem(480);
  }
}

.form__row:first-child {
  padding-top: 0;
}

.form__label {
  font-weight: $bold;
  line-height: 1;
}

.form__label span{
  margin-left: rem(8);
  padding: rem(2) rem(11) rem(2) rem(16);
  font-size: rem(12);
  font-weight: $regular;
  letter-spacing: 0.4em;
  color: $white;
  background: #C94800;
}

.form__input{
  padding: rem(8) rem(15) rem(14);
  width: 100%;
  height: rem(40);
  border: 1px solid $ac-color;
  @include mq("md"){
    transform: translateY(rem(-2));
  }
}

.form__input--select{
  padding-left: rem(8);
  font-size: rem(12);
}

.form__input--textarea{
  height: auto;
  padding: rem(3) rem(16);
}

.form__input::placeholder{
  color: $bg-color;
}

.form__input-wrapper{
  position: relative;
}

.form__input-wrapper::after{
  content: "";
  position: absolute;
  top: 50%;
  right: rem(8);
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: rem(5) solid transparent;
  border-right: rem(5) solid transparent;
  border-top: rem(10) solid $ac-color;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.2s;
}

.form__checkbox {
  display: flex;
  flex-direction: column;
  gap: rem(3);
}

.form__checkbox label{
  display: flex;
  align-items: center;
  gap: rem(8);
}


.form__agreement{
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.form__agreement label,
.form__agreement-inner{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: rem(8);
  font-size: rem(14);
  @include mq("md"){
    gap: rem(16);
  }
}

.form__agreement br{
  @include mq("md"){
    display: none;
  }
}

.form__checkbox input[type="checkbox"],
.form__agreement input[type="checkbox"] {
  all: unset;
  position: relative;
  border: 1px solid $ac-color;
  cursor: pointer;
}

.form__checkbox input[type="checkbox"]{
  width: rem(12);
  height: rem(12);
}

.form__agreement input[type="checkbox"] {
  width: rem(20);
  height: rem(20);
  transform: translateY(rem(-2));
}

.form__checkbox input[type="checkbox"]:checked::after,
.form__agreement input[type="checkbox"]:checked::after{
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  border: solid #C94800;
  border-width: 0 2px 2px 0;
  transform: translate(-50% ,-50%) rotate(55deg);
}

.form__checkbox input[type="checkbox"]:checked::after{
  width:  rem(5);
  height: rem(10);
}

.form__agreement input[type="checkbox"]:checked::after{
  width:  rem(8);
  height: rem(16);
}

.form__button {
  margin-top: rem(24);
  text-align: center;
  @include mq("md"){
    margin-top: rem(39);
    padding-bottom: rem(28);
  }
}

.form__button .button{
  gap: rem(18);
  padding: rem(20) rem(55);
}

.form__row--error .form__input{
  border: 1px solid #C94800;
  background: rgba(#C94800, 0.2);
}

.form__row--error .form__input::placeholder {
  color: $white;
}

.form__row--error .form__checkbox input[type="checkbox"],
.form__agreement--error input[type="checkbox"] {
  border: 1px solid #C94800;
  background: rgba(#C94800, 0.2);
}

.form__input--select:focus-visible,
.form__checkbox input:focus-visible,
.form__agreement input:focus-visible,
.button:focus-visible{
  outline: 2px solid #1a73e8;
  outline-offset: 2px;
}
      