@use "global" as *;


.gallery__body{
  margin-top: rem(40);
}

.gallery__items{
  display: grid;
  gap: rem(20);
  grid-template-columns: repeat(auto-fit, minmax(rem(140), 1fr));
  @include mq("md") {
    gap: rem(40);
    grid-template-columns: repeat(4, 1fr);
  }
}

.gallery__item{
  padding: 0;
  max-width: rem(240);
  aspect-ratio: 1 / 1;
  border-radius: 1em;
  overflow: hidden;
  @include mq("md"){
    border-radius: 2em;
  }
}

.gallery__item img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery__item:focus-visible{
  outline: 3px solid #1a73e8;
  outline-offset: 4px;
  border-radius: 6px;
}
