@use "global" as *;

.hamburger {
  position: relative;
  width: rem(42);
  height: rem(32);
  z-index: 100;
}

.hamburger span {
  position: absolute;
  right: 0;
  width: 76%;
  height: rem(1);
  background: $white;
  transition: 0.3s;
}

.hamburger span:nth-child(1){
  top: 13%;
}
.hamburger span:nth-child(2){
  top: 50%;
  opacity: 1;
}
.hamburger span:nth-child(3){
  top: 87%;
}
.hamburger.is-active span:nth-child(1){
  top: 50%;
  right: rem(-5);
  width: inherit;
  transform: rotate(38deg);
}
.hamburger.is-active span:nth-child(2){
  top: 50%;
  opacity: 0;
}
.hamburger.is-active span:nth-child(3){
  top: 50%;
  right: rem(-5);
  width: inherit;
  transform: rotate(-38deg);
}


