@use "global" as *;

.header {
  height: rem(80);
  background: rgba(90, 62, 43, 0.5);
  z-index: 1000;
  position: fixed;
  width: 100%;
  transition: 0.3s;
  color: $white;
  @include mq(md) {
    height: rem(90);
  }
}

.header--top{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  color: $font-color;
  background: $main-color;
}

.header.is-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.header.is-active,
.header.is-active.is-color {
  background: $sub-color;
}

.header.is-color {
  color: $font-color;
  background: $main-color;
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0 0 0 rem(40);
  }
}

.header__logo {
  max-width: rem(108);
  width: 100%;
  height: inherit;
  z-index: 100;
  @include mq(md) {
    max-width: rem(140);
  }
}

.header__logolink {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__drawer {
  margin-left: auto;
  @include mq(md) {
    display: none;
  }
}

.header__pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: flex;
  }
}
