@use "global" as *;

.header {
  height: rem(80);
  background: rgba(13, 41, 54, 0.68);
  z-index: 1000;
  position: fixed;
  width: 100%;
  transition: 0.3s;
  @include mq(md) {
    height: rem(90);
  }
}

.header--top{
  @include mq(md) {
    opacity: 0;
    animation: headerFadeIn 1s ease 3s forwards;
  }
}

@keyframes headerFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header.is-active,
.header.is-active.is-color {
  background: $ac-color;
  @include mq(md) {
    background: rgba(13, 41, 54, 0.68);
  }
}

.header.is-color {
  background: #9a9a9a;
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 rem(15);
  @include mq(md) {
    padding: 0 rem(40);
  }
}

.header__logo {
  // transform: translate(rem(-3), rem(3)); ピクパ優先
  transform: translateX(rem(-3));
  max-width: rem(108);
  width: 100%;
  height: inherit;
  z-index: 100;
  @include mq(md) {
    max-width: rem(140);
  }
}

.header__logolink {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__drawer {
  margin-left: auto;
  @include mq(md) {
    display: none;
  }
}

.header__pc-nav {
  height: inherit;
  display: none;
  @include mq(md) {
    display: block;
  }
}
