@use "global" as *;

.js-fadeIn {
  opacity: 0;
  translate: 0 rem(50);
}

.js-fadeIn.is-active {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    translate: 0 rem(50);
  }
  100% {
    opacity: 1;
    translate: 0 0;
  }
}