@use "global" as *;

.js-fadeIn {
  opacity: 0;
  transform: translateY(rem(50));
}

.js-fadeIn.is-active {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(rem(50));
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}