@use "global" as *;

.legal h2 {
  position: relative;
  font-size: rem(24);
  font-weight: $medium;
  @include mq("md"){
   font-size: rem(32);
  }
}

.legal p{
  margin-top: rem(40);
  line-height: 2;
}

.legal ol{
  counter-reset: item;
  padding-left: rem(6);
}

.legal ol > li{
  position: relative;
  margin-top: rem(20);
  padding-left: rem(18);
  line-height: 2;
  font-weight: $medium;
}

.legal ol > li::before{
  position: absolute;
  counter-increment: item;
  content: counter(item) ".";
  left: 0;
  top: 0;
  font-weight: $bold;
}

.legal ol > li > ul{
  font-weight: $regular;
}

.legal ul ul li{
  list-style: disc;
  margin-left: rem(30);
}