@use "global" as *;

.legal h2 {
  position: relative;
  font-size: rem(24);
  font-weight: $medium;
  z-index: 1;
  margin-bottom: rem(42);
  @include mq("md"){
   font-size: rem(32);
   margin-bottom: rem(43);
  }
}

.legal p{
  margin-top: rem(32);
  line-height: 2;
}

.legal--terms-of-service p:not(:last-of-type){
  margin-top: 0
}

.legal ol{
  counter-reset: item;
  margin-top: rem(32);
  padding-left: rem(6);
}

.legal--privacypolicy ol:not(:first-of-type){
  margin-top: 0;
}

.legal ol li{
  position: relative;
  padding-left: rem(18);
  line-height: 2;
}

.legal ol li::before{
  position: absolute;
  counter-increment: item;
  content: counter(item) ".";
  position: absolute;
  left: 0;
  top: 0;
}
