@use "global" as *;

.lesson-card {
  position: relative;
  background: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  transition: transform .3s cubic-bezier(.25,.46,.45,.94);
}

.lesson-card:hover{
  transform: translateY(rem(-4));
  opacity: 0.94;
}

.lesson-card__badge{
  position: absolute;
  top: rem(-30);
  right: rem(-30);
  background: $ac-color;
  width: rem(100);
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lesson-card__month{
  font-size: rem(20);
  color: $white;
}

.lesson-card__image {
  aspect-ratio: 1 / 1;
  @include mq("md"){
    width: rem(306);
  }
}

.lesson-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2em 2em 0 0;
}

.lesson-card__body {
  padding: rem(16);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  @include mq(md) {
    padding: rem(24) rem(20) rem(30);
  }
}

.lesson-card__category {
  display: inline-block;
  align-self: flex-start;
  padding: rem(4) rem(11);
  font-size: rem(12);
  line-height: 1.7;
  border: 0.08em solid;
  border-radius: 2em;
  @include mq(md) {
    padding: rem(6) rem(15);
  }
}

.lesson-card__title {
  margin-top: rem(8);
  flex-grow: 1;
  font-size: rem(20);
  font-weight: $regular;
}
