@use "global" as *;

.loading {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  opacity: 1;
  visibility: visible;
  z-index: 9999;
  background: $white;
}

.loading__logo{
  width: rem(200);
  aspect-ratio: 396 / 168;
  opacity: 0;
  animation: loading 0.8s ease forwards;
  @include mq("md"){
    animation-duration: 1.2s;
  }
  @media (prefers-reduced-motion: reduce){
    opacity: 1;
    animation: none;
  }
}

.loading__logo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@keyframes loading {
  0% {
    opacity: 0;
    transform: scale(0.99);
  }
  30% {
    opacity: 1;
    transform: scale(1);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

body.is-loading{
  overflow: hidden;
}
