@use "global" as *;

.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none;
}

.modal[aria-hidden="false"] {
  display: block;
}

.modal__overlay {
  position: absolute;
  inset: 0;
  background: rgba($sub-color, 0.6);
  z-index: 1;
}

.modal__content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2em;
  overflow: hidden;
}

.modal__content img {
  max-width: rem(920);
  max-height: 90vh;
  width: auto;
  height: auto;
  object-fit: contain;
  border-radius: 4px;
}
