@use "global" as *;

.nav {
  display: flex;
  font-size: rem(16);
}

.nav__left,
.nav__right {
  width: 50%;
  @include mq(md) {
    display: flex;
  }
}

.nav__left {
  padding-left: rem(22);
}

.nav__right {
  padding-left: rem(33);
  @include mq(md) {
    padding-left: rem(38);
  }
}

.nav__left .nav__block {
  @include mq(md) {
    width: 55%;
  }
}

.nav__right .nav__block {
  @include mq(md) {
    width: 54%;
  }
}

.nav__block:nth-child(2) {
  margin-top: rem(16);
  @include mq(md) {
    margin-top: 0;
    width: 45%;
  }
}

.nav__items {
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
}

.nav__items:first-child {
  margin-top: 0;
}

.nav__items.u-desktop{
  display: none;
  @include mq("md") {
    display: block;
  }
}

.nav__item:first-child {
  position: relative;
  font-weight: $bold;
}

.nav__item--multiline {
  position: relative;
  line-height: 1.39;
}

.nav__item:first-child::before,
.nav__items .nav__item--multiline::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: rem(-22);
  transform: translateY(-50%);
  width: rem(18);
  aspect-ratio: 1;
  background: currentColor;
  mask-image: url(../images/common/nav.png);
  mask-size: contain;
  mask-repeat: no-repeat;
}

.nav__item:first-child::before{
  top: 50%;
}

.nav__items .nav__item--multiline::before {
  top: 37%;
  @include mq(md) {
    top: 50%;
  }
}

.nav__item a {
  display: flex;
  align-items: center;
  padding: rem(9) 0;
}

.nav__item a:hover {
  opacity: 0.7;
}


.nav--site-map .nav__left{
  width: 57%;
  @include mq("md"){
    width:60%;
  }
}

.nav--site-map .nav__right .nav__block:first-child {
  @include mq(md) {
    width: 82%;
  }
}