@use "global" as *;

.nav {
  display: grid;
  gap: rem(10);
  grid-template-columns: repeat(2, 1fr);
  align-items: start;
  @include mq("md") {
   grid-template-columns: repeat(4, 1fr);
  }
}

.nav__items {
  display: grid;
  grid-template-columns: 1fr;
}

.nav__item a {
  display: flex;
  align-items: center;
  padding: rem(9) 0;
  font-weight: $medium;
}

.nav__item a:hover {
  @include mq("md"){
    opacity: 0.7;
  }
}

.nav__subitem a{
  font-weight: $regular;
  position: relative;
  padding-left: 1em;
}

.nav__subitem a::before {
  content: "ãƒ»";
  position: absolute;
  left: 0;
  top: 0.75em;
}