@use "global" as *;

.nav {
  display: grid;
  gap: rem(10);
  grid-template-columns: 1fr;
  align-items: start;
  @include mq("md") {
   grid-template-columns: repeat(3, 1fr);
  }
}

.nav__items {
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 @include mq("md") {
  grid-template-columns: 1fr;
 }
}

.nav__item a {
  display: flex;
  align-items: center;
  padding: rem(9) 0;
}

.nav__item a:hover {
  @include mq("md"){
    opacity: 0.7;
  }
}

.nav__subitem{
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  color: $font-color;
  background: $sub-color;
  width: rem(180);
  z-index: 10;
}

.nav__subitem a{
  padding: rem(9);
}

.nav__item--has-subitem{
  position: relative;
}

.nav__item--has-subitem:hover .nav__subitem{
  @include mq("md"){
    display: block;
  }
}

.nav__item--has-subitem:hover > a::after{
  @include mq("md"){
    position: absolute;
    right: rem(9);
    content: "▶︎";
    font-size: 0.8em;
    margin-left: rem(9);
  }
}
