@use "global" as *;

.not-found {
  padding-top: rem(80);
  color: $sub-color;
  background-color: $main-color;
  @include mq("md"){
    padding-top: rem(90);
  }
}

.not-found__breadcrumb {
  margin-top: rem(8);
  position: relative;
  z-index: 1;
}

.not-found__main{
  position: relative;
  text-align: center;
  z-index: 1;
}

.not-found__code {
  margin-top: rem(60);
  font-size: rem(80);
  font-family: "Lato", serif;
  line-height: 1;
  letter-spacing: 0.5em;
  text-indent: 0.5em;
  @include mq("md"){
    margin-top: rem(134);
    font-size: rem(160);
  }
}

.not-found__text {
  margin-top: rem(3);
  font-size: rem(16);
  font-weight: $regular;
  @include mq("md"){
    margin-top: rem(40);
  }
}

.not-found__button {
  margin-top: rem(40);
  @include mq("md"){
    margin-top: rem(80);
  }
}

.not-found__button .button{
  gap: rem(17);
}
