@use "global" as *;

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(40);
  font-weight: $bold;
  color: $sub-color;
}

.pagination--simple{
  gap: rem(82);
}

.pagination a,
.pagination span{
  display: inline-block;
  text-align: center;
  line-height: 1;
  padding: rem(11) 0;
  width: rem(38);
  height: rem(38);
  border: 1px solid;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.pagination__prev,
.pagination__next{
  position: relative;
  font-size: 0;
}

.pagination__prev::before,
.pagination__next::before{
  content: "";
  position: absolute;
  width: rem(8);
  height: rem(8);
  top: 50%;
  left: 50%;
}

.pagination__prev::before{
  border-left: 1px solid;
  border-bottom: 1px solid;
  transform: translate(-30%,-50%) rotate(45deg);
}

.pagination__next::before{
  border-right: 1px solid;
  border-top: 1px solid;
  transform: translate(-70%,-50%) rotate(45deg);
}

.pagination a:hover,
.pagination__prev:hover,
.pagination__next:hover,
.pagination .current{
  color: $white;
  background: $sub-color;
}


.pagination a.pagination__page--pc{
  display: none;
  @include mq("md"){
    display: inline-block;
  }
}


.pagination__disabled{
  opacity: 0;
}