@use "global" as *;

.page-header__image{
  position: relative;
  height: clamp(0px, 100vw * 460 / 375, rem(460));
  @include mq("md"){
    height: clamp(0px, 100vw * 600 / 1440, rem(600));
  }
}

.page-header__image picture,
.page-header__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.page-header__body{
  position: relative;
}

.page-header__title{
  position: relative;
  padding-bottom: rem(14);
  font-size: rem(32);
  font-weight: $regular;
  background-image: url('../images/common/line-medium.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: rem(86) 0.1em;
  @include mq("md"){
    padding-bottom: rem(30);
    font-size: rem(36);
  }
}

.page-header__title::first-letter{
  color: #C47C6B;
}

.page-header__breadcrumb{
  margin-top: rem(24);
  text-align: right;
  @include mq("md"){
    margin-top: 0;
  }
}