@use "global" as *;

.page-header__image{
  aspect-ratio: 375 / 460;
  @include mq("md"){
    aspect-ratio: 1440 / 600;
  }
}

.page-header__image picture,
.page-header__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md"){
    height: rem(600);
  }
}

.page-header__body{
  position: relative;
}

.page-header__title{
  position: relative;
  padding-bottom: rem(14);
  font-size: rem(32);
  font-weight: $regular;
  background-image: url('../images/common/line-medium.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: rem(86) 0.1em;
  @include mq("md"){
    padding-bottom: rem(30);
    font-size: rem(36);
  }
}

.page-header__breadcrumb{
  margin-top: rem(24);
  text-align: right;
  @include mq("md"){
    margin-top: 0;
  }
}