@use "global" as *;

.page-header__image{
  width: 100%;
  height: 100%;
}

.page-header__image picture,
.page-header__image img{
  aspect-ratio: 375 / 460;
  object-fit: cover;
  @include mq("md"){
    aspect-ratio: 1440 / 600;
    height: rem(600);
  }
}

.page-header__body{
  position: relative;
}

.page-header__title{
  position: relative;
  font-size: rem(32);
  font-weight: $regular;
  @include mq("md"){
    font-size: rem(36);
  }
}

.page-header__title::first-letter{
  color: #C47C6B;
}

.page-header__title::after{
  content: '';
  position: absolute;
  bottom: rem(-14);
  left: 0;
  width: rem(86);
  height: rem(10);
  background: url(../images/common/line-medium.svg) center center /contain no-repeat;
  @include mq("md"){
    bottom: rem(-30);
  }
}

.page-header__breadcrumb{
  margin-top: rem(24);
  text-align: right;
  @include mq("md"){
    margin-top: rem(10);   
  }
}