@use "global" as *;

.pc-nav__items{
  height: inherit;
  display: flex;
  align-items: center;
  gap: rem(40.2);
}

.pc-nav__item{
  height: inherit;
}

.pc-nav__itemlink{
  position: relative;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(4);
  color: $white;
}

.pc-nav__itemlink::after{
  position: absolute;
  bottom: rem(23);
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: $white;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
.pc-nav__itemlink:hover::after {
  transform: scale(1, 1);
}

.pc-nav__en{
font-size: rem(18);
font-family: $en-font-family;
line-height: 1;
}

.pc-nav__ja{
font-size: rem(10);
}