@use "global" as *;

.pc-nav{
  align-items: center;
  gap: rem(32);
}

.pc-nav__items{
  height: inherit;
  display: flex;
  align-items: center;
  gap: rem(32);
}

.pc-nav__item{
  height: inherit;
}

.pc-nav__item a{
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  color: white;
}

.pc-nav__item a::after{
  position: absolute;
  bottom: rem(23);
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: $white;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.pc-nav__item a:hover::after {
  transform: scale(1, 1);
}

.pc-nav__cta{
  height: rem(140);
  padding: 0 rem(32);
  color: $font-color;
  background: #C6D8C3;
  border-radius: 0 0 0 1.5em;
  align-self: flex-start;
}

.pc-nav__cta a{
  position: relative;
  height: inherit;
  display: flex;
  align-items: center;
  font-size: rem(20);
  font-weight: $medium;
}

.pc-nav__cta a::after{
  position: absolute;
  bottom: rem(44);
  left: 0;
  content: '';
  width: 100%;
  height: 1px;
  background: $font-color;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.pc-nav__cta a:hover::after {
  transform: scale(1, 1);
}