@use "global" as *;

.popular-list {
  display: grid;
  gap: rem(24);
  grid-template-columns: repeat(1, 1fr);
}

.popular-list__item {
  position: relative;
  padding: rem(16);
  display: grid;
  gap: rem(16);
  grid-template-columns: 121fr 125fr;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.popular-list__image {
  aspect-ratio: 121 / 90;
}

.popular-list__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.popular-list__date {
  display: block;
  font-size: rem(12);
  font-family: $en-font-family;
  line-height: 1.8;
}

.popular-list__title {
  margin-top: rem(4);
  font-size: rem(16);
  font-weight: $medium;
  line-height: 1;
}

.popular-list__mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background: rgba(255, 255, 255,0.4);
}

.popular-list__item:hover .popular-list__mask {
  opacity: 0.7;
}


