@use "global" as *;

.price-table {
  display: grid;
  grid-template-columns: 1fr;
  @include mq("md") {
   grid-template-columns: rem(200) auto;
  }
}

.price-table__heading {
  padding: rem(7);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(8);
  font-size: rem(16);
  color: $white;
  background: $ac-color;
  @include mq("md"){
    flex-direction: column-reverse;
  }
}

.price-table__icon{
  flex-shrink: 0;
  width: rem(24);
  aspect-ratio: 1;
  background: url(../images/pages/information_4.png) center center /contain no-repeat;
  @include mq("md"){
    width: rem(64);
  }
}

.price-table__title{
  text-align: center;
}

.price-table__body{
  border-collapse: collapse;
  border: 1px solid $ac-color;
}

.price-table__body tr:first-child{
  min-height: rem(64);
}

.price-table__body tr{
  position: relative;
  padding: rem(3) 0;
  min-height: rem(58);
  display: grid;
  align-items: center;
  grid-template-columns: 240fr 106fr;
  @include mq("md"){
    padding: rem(15) 0;
    min-height: rem(59);
    grid-template-columns: rem(337) auto;
  }
}

.price-table__body tr:not(:last-child){
  border-bottom: 1px solid $ac-color;
}

.price-table__body tr::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 69.5%;
  width: 1px;
  background-color: $ac-color;
  @include mq("md"){
    left: rem(337);
  }
}

.price-table__body th{
  font-weight: $regular;
  text-align: center;
  @include mq("md"){
    text-align-last: left;
    padding: 0 rem(14);
  }
}


.price-table__body td{
  padding-right: rem(15);
  text-align: right;
}

.price-table__body br{
  display: inline;
  @include mq("md"){
    display: none;
  }
}
