@use "global" as *;

.price-tables__item {
  @include mq("md"){
    max-width: rem(700);
    margin: 0 auto;
  }
}

.price-tables__item:not(:first-child) {
  margin-top: rem(41);
  @include mq("md"){
    margin-top: rem(79);
  }
}