@use "global" as *;

.profile{
  position: relative;
  padding: rem(120) 0 rem(100);
  background: $white;
  @include mq("md"){
    padding: rem(250) 0 rem(160);
  }
}

.profile::before {
  content: "";
  position: absolute;
  bottom: rem(10);
  right: calc(50% - min(rem(500),45%));
  width: rem(160);
  aspect-ratio: 208 / 70;
  background: $font-color;
  mask-image: url(../images/common/decor_4.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: rotate(-20deg);
  @include mq("md"){
    bottom: rem(130);
    width: rem(200);
  }
}

.profile__body{
  margin-top: rem(30);
  display: grid;
  gap: rem(30);
  grid-template-columns: 1fr;
  @include mq("md") {
    margin-top: rem(40);
    gap: rem(80);
    grid-template-columns: rem(300) auto;
  }
}

.profile__image{
  width: 90%;
  margin-inline: auto;
  aspect-ratio: 300 / 450;
  overflow: hidden;
  border-radius: 2em;
  @include mq("md"){
    width: 100%;
  }
}

.profile__image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile__info{
  color: #C47C6B;
}

.profile__name{
  font-size: rem(18);
  font-weight: $medium;
  @include mq("md"){
    font-size: rem(20);
  }
}

.profile__career{
  margin-top: rem(6);
  padding-left: rem(24);
  @include mq("md"){
    margin-top: rem(8);
  }
}

.profile__career li{
  list-style: circle;
}

.profile__message{
  margin-top: rem(24);
  line-height: 2;
  @include mq("md"){
    margin-top: rem(40);
  }
}