@use "global" as *;

.section-header span{
  display: block;
}

.section-header__ja{
  font-size: rem(24);
  font-weight: $medium;
  @include mq("md"){
   font-size: rem(28);
  }
}

.section-header__en{
  margin-top: rem(6);
  font-size: rem(18);
  font-weight: $regular;
  color: $sub-color;
  text-transform: capitalize;
  @include mq("md"){
    margin-top: rem(8);
    font-size: rem(20);
  }
}
