@use "global" as *;

.sidebar-box__heading{
  display: flex;
  align-items: center;
  gap: rem(8);
}

.sidebar-box__icon{
  display: block;
  flex-shrink: 0;
  width: rem(50);
  aspect-ratio: 155 / 140;
  align-self: center;
  background: $font-color;
  mask-image: url(../images/common/decor_1.png);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.sidebar-box__title{
  font-size: rem(24);
  font-weight: $regular;
}

.sidebar-box__body{
  margin-top: rem(24);
}

.sidebar-box__button{
  margin-top: rem(40);
  text-align: center;
}

.sidebar-box__lesson-card{
  margin-top: rem(40);
  margin-right: rem(10);
  @include mq("md"){
    margin-right: rem(20);
  }
}

.sidebar-box__blog-cards{
  display: grid;
  gap: rem(24);
  grid-template-columns: repeat(1, 1fr);
}

.sidebar-box__category-list{
  font-size: rem(20);
}

.sidebar-box__category-item{
  padding: rem(6) rem(32);
}

.sidebar-box__category-item:hover{
  opacity: 0.7;
}