@use "global" as *;

.sp-nav {
  display: none;
  position: absolute;
  top: rem(80);
  left: 0;
  right: 0;
  width: 100%;
  height: calc(100vh - rem(80));
  overflow-y: auto;
  padding-top: rem(11);
  background: $ac-color;
  font-size: rem(16);
  color: $white;
}

.sp-nav.is-active {
  display: block;
}

.sp-nav__items {
  margin-top: rem(16);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sp-nav__item a{
  display: flex;
  align-items: center;
  padding: rem(9) 0;
}