@use "global" as *;

.tab-button{
  padding: rem(18) 0;
  font-size: rem(14);
  color: $font-color;
  background-image: url('../images/common/line-thin_200.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 0.1em;
  transition: opacity 0.3s ease;
  @include mq("md"){
    font-size: rem(20);
    background-image: url('../images/common/line-thin_360.png');
  }
}

.tab-button br{
  display: inline;
  @include mq("md"){
    display: none;
  }
}

.tab-button.is-active{
  font-weight: $medium;
  background-image: url('../images/common/line-thick_200.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 0.25em;
  @include mq("md"){
    background-image: url('../images/common/line-thick_360.png');
  }
}

.tab-button:hover{
  @include mq("md"){
    opacity: 0.7;
  }
}

.tab-button:focus-visible{
  outline: 3px solid #1a73e8;
  outline-offset: 4px;
  border-radius: 6px;
}