@use "global" as *;

.tab-panel{
  display: none;
}

.tab-panel.is-active{
  display: grid;
}

.tab-panel__body{
  display: grid;
  gap: rem(40);
  grid-template-columns: 1fr;
  @include mq("md") {
    grid-template-columns: rem(400) auto;
  }
}

.tab-panel__image {
  aspect-ratio: 4 / 3;
  overflow: hidden;
  border-radius: 2em;
}

.tab-panel__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tab-panel__text{
  line-height: 2;
}

.tab-panel__table{
  margin-top: rem(24);
  width: 100%;
  @include mq("md"){
    max-width: rem(400);
  }
}