@use "global" as *;

.table tr {
  position: relative;
  padding: rem(12) 0;
  display: grid;
  grid-template-columns: 30% 1fr;
  align-items: start;
  background-image: url('../images/common/line-thin.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 100% 0.1em;
}

.table th{
  text-align: left;
  font-weight: $regular;
}