@use "global" as *;

.to-top{
  position: fixed;
  right: rem(14);
  bottom: rem(30);
  width: rem(50);
  height: rem(50);
  color: $sub-color;
  border: 1px solid $sub-color;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: opacity .3s ease, background .3s ease, color .3s ease;
  @include mq(md){
    right: rem(20);
    bottom: rem(40);
    width: rem(60);
    height: rem(60);
  }
}

.to-top:hover {
  @include mq("md"){
    color: $white;
    background: $sub-color;
  }
}

.to-top span {
  display: block;
  width: rem(10);
  height: rem(10);
  border-left: 1px solid;
  border-top: 1px solid;
  transform: rotate(45deg);
  @include mq("md"){
    width: rem(12);
    height: rem(12);
  }
}

.to-top.is-show{
  opacity: 1;
  visibility: visible;
}
