@use "global" as *;

.voice-card {
  padding: rem(15) rem(16) rem(24);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  @include mq(md) {
    padding: rem(24);
  }
}

.voice-card__header {
  display: flex;
  gap: rem(15);
  justify-content: space-between;
  @include mq(md) {
    align-items: end;
  }
}

.voice-card__text-block {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 47%;
  @include mq(md) {
    width: 60%;
  }
}

.voice-card__text-block::after {
  // 両端が丸い下線
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: $ac-color;
  border-radius: 1px;
}

.voice-card__meta {
  align-self: flex-start;
  font-size: rem(12);
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    align-items: end;
    align-self: auto;
  }
}

.voice-card__category {
  display: inline-block;
  padding: rem(4) rem(11);
  font-size: rem(12);
  line-height: 1.6;
  color: $ac-color;
  border: 1px solid;
  @include mq(md) {
    padding: rem(6) rem(15);
  }
}

.voice-card__title {
  padding-top: rem(4);
  padding-bottom: rem(2);
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: rem(16);
  font-weight: $medium;
  @include mq(md) {
    padding-top: rem(10);
    padding-bottom: rem(15);
    font-size: rem(24);
    line-height: 1.2;
  }
}

.voice-card__image {
  position: relative;
  width: 48%;
  aspect-ratio: 151 / 117;
  align-self: flex-end;
  @include mq(md) {
    width: 39%;
    aspect-ratio: 180 / 140;
  }
}

.voice-card__image .color {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: $ac-color;
}

.voice-card__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.voice-card__text {
  margin-top: rem(16);
  font-size: rem(16);
  @include mq(md) {
    margin-top: rem(40);
  }
}

